.portfolio-block {
    padding-top: 20px;
    padding-bottom: 10px;
}
.portfolio-block .heading {
margin-bottom: 0px;
padding-bottom: 10px;
}
.portfolio-block form {
    padding: 30px;
}
.alert {
    padding: 5px;
}
.game_result {
    padding: 0;
    margin: 0;
}
